* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background: rgb(154, 34, 195);
  background: linear-gradient(
    0deg,
    rgba(154, 34, 195, 1) 0%,
    rgba(1, 51, 80, 1) 100%
  );
}

header {
  padding: 20px;
  max-width: 1000px;
  margin: 30px auto;
  color: #8ad41d;
}

.game-explanation {
  font-weight: 300;
  font-size: 18px;
}

.card {
  background: rgb(138, 212, 29);
  background: linear-gradient(
    90deg,
    rgba(138, 212, 29, 1) 0%,
    rgba(252, 255, 64, 1) 100%
  );
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.card-container {
  padding: 20px;
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.setting-score {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8ad41d;
  max-width: 1000px;
  margin: 0 auto;
}

.setting-score button {
  background: #8ad41d;
  color: rgba(1, 51, 80, 1);
  position: relative;
  border: none;
  border-radius: 30px;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.setting-score button:hover {
  background: #9ad343;
  color: rgba(1, 51, 80, 1);
  border: none;
  border-radius: 30px;
  padding: 14px;
  transform: translatex(3px);
  transition: ease-in-out 0.1s;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.setting-score button:active {
  background-color: #c5e990;
  transition: 0s;
}

.score-container h3 {
  margin-bottom: 20px;
}

.score-container h3:last-of-type {
  margin-bottom: 0;
}
